* {
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center; 
    box-shadow: 10px 5px 42px;
}
span{
	color: gold;
}

.montt{
	color: #000 ;

}
.container form input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #2979ff;
    color: #fff;
    font-size: 20px;
}
/* laptop*/
@media (max-width: 1366px) {
	html{
		font-size: 100%;
	}
}

/* Tablet*/
@media (max-width: 758px) {
	html{
		font-size: 62.5%;
	}
}

/* mobile phone*/
@media (max-width: 450px) {
	html{
		font-size: 55%;
	}
}

